.software{
	width: 1204px;
	height: 1211px;
	background:url(software.png);
}

@media only screen and (min-width: 1201px)
{
	.software{
	width: 450px;
	height: 590px;
	background:url(software.png) 0px 0px;	
	}

}

@media only screen and (min-width: 1001px) and (max-width: 1200px)
{
	.software{
	width: 425px;
	height: 595px;
	background:url(software.png) 753px 0px;	
	}
}

@media only screen and (min-width: 801px) and (max-width: 1000px)
{
	.software{
	width: 350px;
	height: 590px;
	background:url(software.png) 350px 0px;	
	}

}

@media only screen and (min-width: 601px) and (max-width: 800px)
{
	.software{
	width: 720px;
	height: 620px;
	background:url(software.png) 0px 620px;	
	}

}

@media only screen and (max-width: 600px)
{
	.software{
		width: 470px;
		height: 600px;
		background:url(software.png) 460px 600px;	
	}
}
